ion-header{
  ion-toolbar{
    display: flex;
    height: 64px;
    ion-title{
      height: 64px;
      font-family: var(--ion-primary-font-family);
      font-style: normal;
      font-weight: 500;
      font-size: 22px;
      line-height: 50px;
      color: #364C6F;
    }
  }
}
ion-content{
  ion-row{
    display: flex;
    justify-content: center;
  }
}
