<form class="base--form-generic" [formGroup]="signUpForm" (ngSubmit)="onSubmitSignUp()">
  <!-- <ion-row>
    <h3> Welcome Back!</h3>
  </ion-row>
  <ion-row>
    <h5>Please fill in correct details</h5>
  </ion-row> -->
  <ion-item lines="none">
    <ion-icon src='assets/images/icons/name.svg' ></ion-icon>
    <ion-input type="text" placeholder="Name" formControlName="name"></ion-input>
  </ion-item>
  <ion-item lines="none">
    <ion-icon ></ion-icon>
    <ion-input type="text" placeholder="Surname" formControlName="surname"></ion-input>
  </ion-item>
  <ion-item lines="none">
    <ion-icon src='assets/images/icons/email.svg' ></ion-icon>
    <ion-input type="email" placeholder="Email" formControlName="email"></ion-input>
  </ion-item>
  <ion-item lines="none">
    <ion-icon src='assets/images/icons/password.svg' ></ion-icon>
    <ion-input type="password" placeholder="Password" formControlName="password"></ion-input>
  </ion-item>
  <ion-item lines="none">
    <ion-icon src='assets/images/icons/password.svg' ></ion-icon>
    <ion-input type="password" placeholder="Confirm password" formControlName="confirmPassword"></ion-input>
  </ion-item>
  <ion-row>
    <ion-button class="base--btn-primary" type="submit"  expand="block" [disabled]="!signUpForm.valid" >Sign Up</ion-button>
  </ion-row>
  <ion-row>
    <h5> Already hace an Account? <a [routerLink]="['/login']" >Sign in</a></h5>
  </ion-row>
</form>
