.main-background
{
  background: var(--ion-color-grey-bg);
}
h3
{
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 36px;
  color: #364C6F;
}
h5
{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  display: flex;
  align-items: center;
  letter-spacing: 0.15px;
  color: #364C6F;
}
