#navbar{
  .nav-wrapper{
    position: fixed;
    width: 100%;
    bottom: 0px;
    right: 0px;
    padding-top: 12px;
    padding-bottom: 16px;
    background-color: var(--ion-color-grey);
    z-index:10;
    .items{
      display: flex;
      align-items: center;
      justify-content: space-around;
      .item{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;
        .box{
          display: flex;
          align-items: center;
          justify-content: center;
          width: 64px;
          height: 32px;
          &.active{
            background: var(--ion-color-primary);
            border-radius: 8px;
            svg path{
              fill: var(--ion-color-blue);
            }
          }
        }
        .title{
          font-style: normal;
          font-weight: 500;
          font-size: 12px;
          line-height: 16px;
          text-align: center;
          letter-spacing: 0.5px;
          color: var(--ion-color-grey2);
          &.active{
            font-weight: 600;
            color: var(--ion-color-blue);
          }
        }
      }
    }
  }

}
