.base--{
  &form-generic{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10%;
    ion-row{
      display: flex;
      justify-content: center;
      margin-top: 8px;
      margin-bottom: 8px;
    }
    ion-item{
      --background: none !important; // or whatever color you want
      ion-icon{
        width: 20px;
        height: 20px;
        padding: 10px;
      }
      ion-input{
        background: #FFFFFF;
        border: 2px solid #D6E1E8;
        border-radius: 8px;
        height: 56px;
        &:focus-within{
          border: 2px solid #397193;

        }
        input{
          height: 56px;
          padding: 10px!important;
          border-radius: 8px!important;
          color:#364C6F!important;
        }
        &.slim{
          height: 44px;
          input{
            height: 44px;
          }
        }
      }
      ion-select{
        background: #FFFFFF;
        border: 2px solid #D6E1E8;
        border-radius: 8px;
        width: 100%;
        padding: 10px!important;
        color:#364C6F!important;

        .select-text, label{
          color:#364C6F!important;
        }
      }
    }
  }
}
